* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 50em;
    min-height: 100vh;
    font-size: 1em;
    line-height: 1.4;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6fa8dc;
    padding: 1em;
}

header img {
    flex-shrink: 0;
}

h1 {
    flex-grow: 1;
    padding-left: .5em;
    font-size: 2.5em;
}

nav {
    padding: .5em;
    text-transform: uppercase;
    background-color: #e06666;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: .5em;
}

nav li {
    padding-right: 1.5em;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

article {
    flex-grow: 4;
    padding: 1em;
}

h2 {
    font-size: 2em;
}

article p {
    margin-bottom: 1em;
}

.aside-left, .aside-right {
    flex-grow: 1;
    padding: 1em;
    background-color: #b4a7d6;
}

h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
}

footer {
    padding: 1em;
    background-color: #b6d7a8;
}